
# Ignore STS / Eclipse metadata

**/.classpath

**/.project

**/.settings/

**/.metadata/



# Ignore IntelliJ metadata

**/.idea/

**/*.iml



# Ignore build folders

**/target/

**/build/



# Ignore logs

**/*.log

**/logs/



# Ignore OS files

.DS_Store

Thumbs.db

.metadata/
